@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
   max-width: 1440px;
    width: 100%;
    
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-x: hidden;
 

 
}
#myBtn {
    display: none;
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: 1px solid #FF4646 ; 
    color:#FF4646;
    background-color: #FFF;
    border-radius: 100px;
    width: 56px;
    height: 56px;
   
    
  }
#myBtn img{
    width: 24px;
    height: 24px;
}
  
  #myBtn:hover {
    background-color: #2e101033;
  }
div {
    display: block;
    unicode-bidi: isolate;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    
}
a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}



/* Headre style*/
.logo__img{
    
    width: 24px;
    height: 24px;

   


}
header{
    max-width: 1440px;
    width: 100%;
    height: 64px;
    overflow: hidden;
    padding: 12px 82px;
}
nav{

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
   
}

.nav__burger{
        display: none;
        
    
}
 .line {
    width: 22px;
    height: 2px;
    background-color: black;
    border: 1px solid black;
    transition: all 0.3s ease;
    
  }


.no-scroll{
    overflow: hidden;
    height: 100%; 
    position: fixed;
    
}
.header-fixed { position: fixed; 
    top: 0; 
    left: 0;
     width: 100%;
      height: 100vh; 
    /* Full viewport height */ 
    z-index: 1000;
    background-color: #FFFFFF;
 } 



.nav__burger.active span:nth-child(1) {
  transform: rotate(45deg) translate(4.4px, 4px);
}

.nav__burger.active span:nth-child(2) {
  transform: rotate(-45deg) translate(4.4px, -4px);
}


.logo__text{
   
    font-family: 'Montserrat';
    font-size: 11.9px;
    font-weight: 600;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #181C29;
    
   
}

.Logo {
  
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 20px;
    gap:8px;

   
}
a{
    text-decoration: none;
    color:#181C29;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
   
}




.container__list{
    
   margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    
    
   
}
.fullpagemenu{
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    position: absolute;
    display: flex;
    z-index: 99;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    flex-direction: column;
    margin: 0;
}
.fullpagemenu_list{
    width:400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    list-style: none;

}
.container__item {
    padding: 12px 20px;
    border-radius: 12px;
  }
  .container__item a{font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 5%;
    text-transform: uppercase;
}
.container__item a{
    color:#181C29;
}
.container__item:hover a{
    color:#FF4646;
}
.container__item:hover{
    background:  #FF46461A;
    border-radius: 12px;

}
/*                                                          */

/*HERO SECTION STYLE*/
#Hero{
    width: 100%;
    /*height: 32.75rem;*/
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #FF4646;
    background-image: url(../christmas-shop/images/bg-snow.png) ,url(../christmas-shop/images/bg-ball.png);
    background-size: cover;
    background-position: center;
    padding: 60px 82px;
    text-align: center;

    /*padding:  3.75rem 31.6875rem;*/



}
.Hero__header{
    max-width: 429px;
    
}
section {
    background-image:  url(../christmas-shop/images/bg-snow.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 82px;
    overflow: hidden;
}

.Hero__container{
    margin: 60px auto;
    display: flex;
    text-align: center;
    flex-direction: column;
   justify-content: center;
    align-items: center;
    row-gap: 12px;

  
 /* width: 26.625rem;
  max-width: 26.625rem;;
  height: 25.25rem;
  padding: 3.75rem 0px;
  background-position: 50%;*/

}
.Hero__container p{
    font-family: 'allura';
    width: 100%;
    height:1.5rem;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #FFFFFF;
   

}
   



.Hero__header h1{
   
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.18em;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    
}



.Hero__container a{
    display: inline-block;
    width: 14.6875rem;
    height: 3.5rem;
    background-color: #181C29;
    border-radius: 20px;
  
    padding: 20px 32px;
    border: 0px;
    color: #FFFFFF;
    font-size: 11.8px;
    font-family: 'Montserrat';
    font-weight: 600;
    line-height: 15.6px;
    letter-spacing: 0.05em;
   
  

}


.Hero__container  a:hover{
    color:#181C29;
    background-color: #FFFFFF ;
}





/*HERO SECTION STYLE*/

/*about style                                                              */
#About{
    width: 100%;
    /*height: 40.5rem;*/
    background-color: #FF4646;
    background-image: url("images/bg-snow.png");
    background-size: cover;
    background-position: center;
    padding: 60px 82px;
    

}


.About__container{
    
    max-width: 79.75rem;
    width: 100%;
    height: 33rem;
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    overflow: hidden;

  

}
.About__container-right {
    
    min-width: 50%;
    width: 50%;
    height: 528px;
    min-height: 100%;
    overflow: hidden;
    border-radius: 20px;

   
 
}
.About__container-right img{
    width: 100%;
    height: 100%;
    object-fit: cover;

   
}

.About__container-left{
    
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
    padding: 100px 152px  100px 60px;

    
}

.About__container-left :first-child{
  
    text-align: left;
    color: #FF4646;
  
   
}
.About__container-left h2{
    
    
    color: #181C29;
   
    
}


.About__container-left :last-child{

   /* width: 26.624rem;?*/
    
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 23.68px;
    color: #181C29;
}


/*About style                                                     */
/*Slider Section Style                                              */
#Slider{
    width: 100%;
   
    
   /* height: 30.5rem;
   */
    background-color: #FF4646;
    background-image: url(../christmas-shop/images/bg-snow.png);
    padding: 60px 82px;
    

}
.Slider_content{
    width: 100%;
    margin: 0 auto;
    max-width: 1276px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}
.Slider__header{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:12px
   

}
.Slider__header p{
    color: #FFFFFF;
    text-align: center;
}
.Slider__header h2{
    color: #FFFFFF;
    text-align: center;
}

.allura{
    font-family: 'allura';
    width: 100%;
    height:1.5rem;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.05em;

}
.montserrat{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 24px;
    line-height: 36.48px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
}
.slider__row{

   width: max-content;
    display: flex;
    justify-content: space-between;
    transition: transform 0.5s ease;
    
    
  
   
    
}
.slidbar__button1 button img{
    width: 30px;
    height: 30px;
    opacity: 1;
    color: #ECF3F8;
    transform: rotate(180deg);
   
}
.slidbar__button2 button img{
    width: 30px;
    height: 30px;
   
   
}
.for_slider{
      width: 100%;         
  overflow: hidden;      
  position: relative;

}
.slider__row p{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 80px;
    line-height: 97.52px;
    text-align: center;
    color:white;
    text-transform: uppercase;
    width: 350px;
  
     
    
 


}

.slider__row div{
    display: flex;
   
    align-items: center;
    justify-content: center;
    
    max-width: 350px;
    min-width: 350px;

 
    
    
}
.slider__row img{
    max-width: 12.5rem;
    max-height: 12.5rem;
    border-radius: 20px;
 


} 




.slider button{
    
    background-color: #FF4646;
    width: 56px;
    height: 56px;
    font-size: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    

}
.slider button:hover{
background-color: #FFFFFF;
color: #FF4646;

}
.slider button:active{
    cursor: pointer;
}
.slider button:visited{
    color: #FFFFFF40;
    border: 1px solid #FFFFFF40;
}
.slider{
    width: 100%;
    display: flex;
    justify-content: right;
    gap: 20px;
    margin-right: 0px;

}
/*///////////////////*/
.modalcontainer{
    
   position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #181C29CC;
  backdrop-filter: blur(16px);
  z-index: 9999;
  transition: left 0.3s ease;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
.modalcontainer .modals{
     width: 310px;
  
     background-color: #FFFFFF;
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
}
.modal_img{
background-color: #ECF3F8;
width: 100%;
}
.modal_img+div{
    padding: 20px;
}
.modalcontainer .modals img{
     width: 100%;
    height: 230px;
    object-fit: cover;
    

}
.close{
    position: absolute;
    top:15px;
    right: 15px;
    width:20px;
    height:20px;
    border: none;
    font-size: 20px;
    color:#FF4646;
    background-color: transparent;
}
.cards h4.work a { color: blue; }
h4.health  a{ color: green }
h4.harmony a { color: purple; }
.modal_img+div h4.work a{color: blue;}
.modal_img+div h4.health a{color: green ;}
.modal_img+div h4.harmony a{color: purple;}
.stars{
    display: flex;
    flex-direction: column;
    
    
}
.stars div p:first-child{
    width:50%;
    

    
}
.modals div h3{
font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    line-height: 152%;
    letter-spacing: 8%;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.modals div h4 a{font-family: Montserrat;
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 5%;
    text-transform: uppercase;
}
.modals div h4{
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 5px;

}
.modals div  p{
     font-weight: 400;
    font-family: Montserrat;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 5%;
    margin-bottom: 5px;
    
}
.stars div{
       display: flex;
       justify-content: space-between;
}
.modalcontainer .modals .star_layt img {
 
  width: 14px;
  height: 16px;
  margin-right: 2px;

}


/*///////////////////*/


/*                                                   
#BestGitf{
    width: 100%;
   /* height: 34.625rem;
    padding: 60px 82px;
    background-color: #FF4646;
    background-image: url(../christmas-shop/images/bg-snow.png);
    text-align: center;
    


}
.BestGitf_con{
    width: 100%;
    margin: 0 auto;
    max-width: 1276px;
}
.BestGift__header p{
    color:#FFFFFF;
    margin-bottom: 12px;
    
}
.BestGift__header h2{
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 20px;

}

.BestGift__container{
    width: 100%;
    /*height: 21.375rem;
    display: flex;
    gap:12px;
    
}

.cards{
    /*width:19.375rem;
    height:21.375rem ;
    border-radius: 20px;
    border: 0px;
    background-color: #ECF3F8;
    cursor: pointer;
    overflow: hidden;
    flex-shrink: 1;
    text-align: left;
}
.cards  div h3:hover{
    color: #FF4646;
}
.cards:hover {
    transform: scale(1.03);
    transition: all 0.3s;
}
.cards img{
    width: 100%;
    height: 230px;
   


}

.cards div{
    
    height: 112px;
    padding: 20px 20px 0 20px;
    background-color: #FFFFFF;

    /*
    height: 7rem;
    border-radius: 20px;
    padding: 20px 20px 44px 20px;
    background-color: #FFFFFF;
    border:0px;?
}

.cards div a{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    color: #4361FF;
    text-transform: uppercase;
   
  
}
.cards div h3{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    line-height: 24.32px;
    letter-spacing: 0.08em;
    color: #181C29;
    text-transform: uppercase;
   margin-top: 8px;
}
*/
#BestGitf{
    padding: 60px 82px;
    background-image: url(../christmas-shop/images/bg-snow.png);
    width: 100%;
     background-color: #FF4646;
}
.BestGitf_con{
    width: 100%;
    margin: 0 auto;
    max-width: 1276px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.BestGift__header p{
    margin-bottom: 12px;
    text-align: center;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.05em;
   
    
}
.BestGift__header h2{
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    line-height: 152%;
    letter-spacing: 0.16em;
    color: #FFFFFF;
    font-weight: 600;
    text-transform: uppercase;

}
.BestGift__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* height: 342px; */
    width: 100%;
    gap:12px;
    
}
.cards{
    width: 310px;
    height: 342px;
    background-color: #ECF3F8;
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
    

}
.cards img{
    width: 100%;
    height: 230px;
    object-fit: cover;
    overflow: clip;
}
.cards div{
    box-sizing: border-box;
    height: 112px;
    padding: 20px ;
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap:8px;
}

.cards:hover h3{
    color: #FF4646;
}
.cards:hover {
    transform: scale(1.03);
    transition: all 0.3s;
}
.cards div a{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    color: #4361FF;
    text-transform: uppercase;
   
  
}
.cards div h3{
    font-family: 'Montserrat';
    font-weight: 600;
    color: #181C29;
    text-transform: uppercase;
    
    font-size: 16px;
    line-height: 152%;
    max-height: 48px;
    letter-spacing: 0.08em;
    overflow: hidden;
    display: -webkit-box;
 
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}



.cards:hover h3{
    color: #FF4646;

}

.BestGift__container .cards:nth-of-type(2) h4 a{
    color: #06A44F;
    
    
}
.BestGift__container .cards:nth-of-type(4) h4 a{
    color: #FF43F7;
    
    
}
#CTA{
    /*height: 41.75rem;*/
    width: 100%;
    background-color: #FF4646;
    background-image: url(../christmas-shop/images/bg-forest.png), url(../christmas-shop/images/bg-snow.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 60px 82px;
}
.cta__container{
    width: 79.75rem;
    max-width: 79.75rem;
    height: 34.25rem;
    /*padding: 60px 425px;*/
    

}
.cta__container1{
   height: 548px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
 
    /*margin: auto;
    width: 26.625rem;
    max-width: 26.625rem;
    height: 26.75rem;
    padding: 60px 0px;*/
}
.cta__container1 h2{
    
    color: #FFFFFF;
    text-align: center;
}

.cta__container1 a{
    display: inline-block;
    width: 14.6875rem;
    height: 3.5rem;
    border-radius: 20px;
    padding: 20px 32px;
    color:#FFFFFF;
    background-color: #181C29;
    border: 0px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 11.9px;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
}

.cta__container1  a:hover{
    color: #181C29;
    background-color: #FFFFFF;
}

.cta__timer{
    width: 26.625rem;
    height: 6.5rem;
    padding: 0px 41px;
    
}
.cta__timer p{
    width: 100%;
    color: #FFFFFF;
    text-align: center;
    
}
.timer__container{
    width: 344px;
    height: 72px;
    border-radius: 20px;
    display: flex;
    flex:1;
  text-align: center;
  align-items: center;
   padding: 8px 12px 12px 12px;
   background-color: #FFFFFF66;
   margin-top:8px



}
.timer__item{
    width: 80px;
    height: 52px;
    
}
.timer__item h2{

    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 36.48px;
    letter-spacing: 0.16em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    

}
.timer__item h4{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    height: 16px;
}
.timer__container span{
    box-sizing: content-box;
  
    border-style: solid;
    background-color: #FFFFFF66;
    width: 1px;
    height: 20px;
    border: 0px;
  

}

 #footer{
    
    display: block;
    unicode-bidi: isolate;
    padding: 60px 82px;

}
.footer__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    width: 100%;
    margin: 0 auto;
    max-width: 1276px;

}
div {
    display: block;
    unicode-bidi: isolate;
}
.footer__content{
    width: 100%;
    display: flex;
    gap: 12px;
    flex:1;
}
.footer__item{
    height: 164px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
    flex: 1;
    padding: 20px;
    background-color: #ECF3F8;
    color: var(--dark);
    border-radius: 20px;
    cursor: pointer;
    box-sizing: content-box;
   
}
.footer__item img{
    
        width: 80px;
        height: 80px;
   
}

.footer__item p{
    font-family: 'Montserrat';
    text-align: center;
    font-size: 24px;
    line-height: 152%;
    letter-spacing: 0.16em;
    font-weight: 600;
    text-transform: uppercase;
    font-weight: 600;
    text-transform: uppercase;
    color: #181C29;
    text-align: center;
}
.footer__item h3{
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 152%;
    letter-spacing: 0.08em;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0px;
    color: #181C29;

}
.footer__contact{
    display: flex;
   flex-direction: column;
    align-items: center;
     row-gap: 12px;
     text-align: center;
    
}

.footer__contact-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:12px;
    
}

.footer__contact div+p{
        
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.68px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}
.footer__contact-list div{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__item:hover p a,.footer__item:hover h3 a{
    color: #FF4646;

}
.footer__contact p:last-child:hover a{
    color: #FF4646;

}

@media (hover: none), (pointer: coarse){
    .container__item:hover {
      
      background-color: #FFFFFF;
    }
    .container__item:hover a{
        color:#181C29;
    }
  
    .cards:hover h3 {
      color: #181C29;
      
    }
    .cards:hover {
        transform: scale(1);
    }
    .cards div a:hover{
        background-color: #FFFFFF;
    }
    .slider button:hover{
        background-color: #FF4646;
        color: #FFFFFF;
   }
  
   .cta__container1  a:hover{
      color: #FFFFFF;
     background-color: #181C29;
     }
    .Hero__container  a:hover {
      background-color: #181C29;
      color: #FFFFFF;
    }
    
    .footer__item:hover p a,.footer__item:hover h3 a{
        color:#181C29;
    
    }
    .footer__contact p:last-child:hover a{
        color:#181C29;
    
    }
  
  
  
    
  }
    
@media (max-width: 1190px){
    #footer{
        padding:60px 8px;
    }
   
    .footer__content{
        flex-direction: column;
    }
    .BestGift__container{
        max-width: 632px;
        width: 100%;
        flex-wrap: wrap;
        gap: 12px;
        justify-content: center;
        align-items: center;
      
    }
    .cards{
       min-width: 310px;
    }
    .Hero__header{
        width: 429px;
    }
    .About__container{
        justify-content: center;
        align-items: center;
     }
        
        .About__container-left{
            margin: 106px 60px;
            display: flex;
                flex-direction: column;
                max-width: 426px;
                width: 100%;
                padding: 0px;
                
                gap: 20px;
               
           /* width: 100%;
            box-sizing: border-box;
            padding: 46px 60px;
            flex:1;*/
    
    
        }
        .About__container-left p{
            margin: 0px;
        }
     
        .About__container-right{
            min-width: 50%;
            width: 50%;
            
            min-height: 100%;
            overflow: hidden;
        }
        #BestGitf{
            padding: 60px 8px;
        }
        .BestGift__container{
            max-width: 632px;
            width: 100%;
            flex-wrap: wrap;
            gap: 12px;
            justify-content: center;
            align-items: center;
          
        }
}

@media screen and (max-width:768px){
    
    body{
        max-width: 768px;
        width: 100%;
        overflow-x: hidden;
    }
    #Slider{
        padding: 40px 8px;
    }
 header{
    padding: 12px 8px;
 }
 section,footer{
        padding:60px 8px;
    }
      .nav__burger {
        position: fixed;
        z-index: 9999;
        top: 23px;
        right: 20px;
        width: 40px;
        height: 40px;
      display: flex;
      flex-direction: column;
      gap:10px;
  }
   
   

  
    
    #Hero {
        width: 100%;
        padding: 60px 171px;
    }
    .Hero__container{
        gap: 12px;
    }
  
 .About__container{
    justify-content: center;
    align-items: center;
 }
    
    .About__container-left{
        margin: 106px 60px;
        display: flex;
        
            flex-direction: column;
            max-width: 426px;
            width: 100%;
            padding: 0px;
            
            gap: 20px;
           
       /* width: 100%;
        box-sizing: border-box;
        padding: 46px 60px;
        flex:1;*/


    }
    .About__container-left p{
        margin: 0px;
    }
 
    .About__container-right{
        min-width: 50%;
        width: 50%;
        
        min-height: 100%;
        overflow: hidden;
    }
    #BestGitf{
        padding: 60px 8px;
    }
    .BestGift__container{
        max-width: 632px;
        width: 100%;
        flex-wrap: wrap;
        gap: 12px;
        justify-content: center;
        align-items: center;
      
    }
    .cards{
       max-width: 310px;
    }
    #footer{
        padding: 60px 8px;
    }
   
  .container{
    display: none;
 }
    .footer__container{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;

    }
    #About{
        padding:60px 8px;
    }

}

@media screen and (max-width: 550px ){
    body{
        max-width: 550px;
        width: 100%;
        font-size: 4.211vw;
        overflow-x: hidden;
    }
#CTA{
    padding: 60px 8px;
   }
   .Hero__container p{
    font-size: 6.316vw;
   }
   .About__container{
    margin: 60px 60px 60px 0px;
    height:fit-content;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 60px;
    
    
    
}
header{
    padding: 12px 8px;
}
.About__container-right{
    width: 100%;
 }
 #About{
    padding:60px 8px;
}
.About__container-left{
    margin: 0px;
    padding: 0px 20px 60px 20px;
    
    
    
 }
 .slider__row div{
    max-width: 200px;
    min-width: 200px;
   
 }
 .slider__row div p{

   font-size: 40px;
   width: 200px;
 }

}


@media screen and (max-width: 380px) {
    body{
        max-width: 380px;
        width: 100%;
        font-size: 4.211vw;
        overflow-x: hidden;
    }
    header{
        padding: 12px 8px;
    }
    #Slider{
        width: 100%;
    }
    #Hero{
        padding: 60px 8px;
    }
    .Hero__container p{
        font-size: 6.316vw;
    }
    .Hero__container h1{
        font-size: 8.421vw;
    }
   #CTA{
      padding: 60px 8px;
   }
   .cta__container1{
    height: 584px;
   }
    .Hero__header{
        width: 100%;
    }
    section{
        padding: 60px 8px;
    }
    #About{
        padding:60px 8px;

    }
   
   p{
    font-size: 16px;
   }
    .About__container{
        margin: 0px 60px 0px 0px;
        height:fit-content;
        flex-direction: column;
        padding-top: 60px;
        
        
        
    }
    .About__container-right{
       width: 100%;
    }
    .footer__contact{
        justify-content: center;
        font-size: 4.211vw;
    }

   
  
    h1 {
      font-size: 8.421vw;
    }
  

    .BestGift__header h2{
    font-size: 6.316vw;
    }
    h2 {
      font-size: 6.316vw;
    }
  
    
    h3 {
      font-size: 4.211vw;
    }
  
    .footer__item p a{
      font-size: 24px;
    }
    .footer__item h3 a{
     font-size: 16px;;
    }
    h4 {
      font-size: 3.158vw;
    }
    .cards{
        width:100%;
    }
    .About__container-left{
       margin: 0px;
       padding: 0px 20px 60px 20px;
       
       
       
    }
    .About__container-right{
        width: 100%;
        height: 138.947vw;
   
    }
   
   
}

